<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>彩虹倒计时</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string>icondaojishi</string>
			<key>CFBundleURLName</key>
			<string>com.chenxi.caihoongdaojishi</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>comchenxicaihongdaojishi</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>GADApplicationIdentifier</key>
	<string>EqXZMByljeARexpY-YyAA8y</string>
	<key>GADIsAdManagerApp</key>
	<string>1</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>conchenxilajifenleizhushou</string>
		<string>comchenxiliulangshiren</string>
		<string>comchenxijiugongge</string>
		<string>com.chenxi.paizhaoshihua</string>
		<string>comchenxishijianguihuaju</string>
		<string>chenxishoudiantong</string>
		<string>sinaweibo</string>
		<string>zhihu</string>
		<string>niancheng</string>
		<string>chenxishijianjiaonang</string>
		<string>comchenxiwanghouyusheng</string>
		<string>comshenxijiyisuipian</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSFaceIDUsageDescription</key>
	<string>是否允许使用FaceID权限，来保护您的计时器</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>是否允许访问您的相册，用来设置主题背景图片</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>获取标记权限向您提供更优质、安全的个性化服务及内容，未经同意我们不会用于其他目的；开启后，您也可以前往系统“设置-隐私 ”中随时关闭。</string>
	<key>UIAppFonts</key>
	<array>
		<string>方正宋刻本秀楷繁体.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>mtj_appkey</key>
	<string>0dee88a992</string>
	<key>mtj_deubglog</key>
	<string>1</string>
</dict>
</plist>
